/*@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');*/
body {
    background-color: #000000;
    padding-top: 55px;
}

.navbar-dark a {
    color: rgb(233, 60, 7);
}

.navbar-dark a:hover {
    color: rgb(251, 255, 2);
}

.navbar-dark {
    background-color: #333333;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgb(233, 60, 7);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.red,
.green,
.blue {
    height: 5px;
}

.red {
    background-color: #FF9999;
}

.green {
    background-color: #DAFF99;
}

.blue {
    background-color: #99EBFF;
}
.emptyspace {
    padding-top: 160px;
}
.j1 {
    color: azure;
    font-size: 2em;

    margin: 0 1em 0 1em;
    margin-top: -3em;
    margin-bottom: 2em;
}
.j2 {
    color: crimson;
    font-size: 2em;

    margin: 0 1em 0 1em;
    margin-top: -3em;
    margin-bottom: 2em;
    text-align: right;
}
.judul {
    font-size: 1.4em;
    color: brown;
}
.marginme{margin: 0 1.8em 0 1.8em}
.bg-putih {
    margin: 0 2em 0 2em;
    background: #fff;
    height: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}
.emptyholder {margin: 0 2em 0 2em}
.control-label {
    text-align: right;
    color: rgb(23, 5, 71);
}
.bg-footer { margin-top: -13em}

.btn-lain {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #16a085;
    border: 0;
    border-bottom: 2px solid #14947b;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #14947b;
    box-shadow: inset 0 -2px #14947b;
}

.btn-lain:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media screen and (max-width:1024px) {
    .bg-footer { margin-top: -25em}
}
@media screen and (max-width:768px) {
    .j2 { text-align: left;}
    .zzz { margin-bottom: 4em;}
    .bg-footer { margin-top: 1em}
}
@media screen and (max-width:414px) {
    p {text-align: justify}
    .bg-footer {text-align: center}
    .two-insta { margin-top: 1em}
    .marginme {margin-left: -.15em}
}